## Nama Kelompok : UNO

Ketua : Daniel Rowin

Anggota :
- Febby MaghÔ¨Årani Aziz
- Amodya Subagio
- Nur Rahman Shalahudin
- Fakhry Abdurrohman
- Daviro Yota Nagasan Wahyudi
- Putri Vina Fajriyani
- Asmiyeni Islamiati

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from matplotlib import rcParams

rcParams['figure.figsize'] = 12, 4
rcParams['lines.linewidth'] = 3
rcParams['xtick.labelsize'] = 'x-large'
rcParams['ytick.labelsize'] = 'x-large'

# SOAL No 1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
df = pd.read_csv('Product_Exclusive_Classification.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 8000 non-null   int64
 1   brand              8000 non-null   object
 2   category           7987 non-null   object
 3   rating             7905 non-null   float64
 4   number_of_reviews  7991 non-null   float64
 5   love               7966 non-null   float64
 6   price              7992 non-null   float64
 7   value_price        7983 non-null   float64
 8   exclusive          8000 non-null   int64
dtypes: float64(5), int64(2), object(2)
memory usage: 562.6+ KB

In [ ]:
df.sample(5)

In [ ]:
# pengelompokan kolom berdasarkan jenisnya
cats = ['brand', 'category']
nums = ['rating', 'number_of_reviews', 'love', 'price', 'value_price']

In [ ]:
df[nums].describe()

In [ ]:
df[cats].describe()

In [ ]:
df.isna().sum()

In [ ]:
for col in cats:
    print(f'''Value count kolom {col}:''')
    print(df[col].value_counts())
    print()

## A. Tipe Data dan Nama Kolom:

Kolom 'id' sebaiknya menggunakan tipe data string karena agregasi yang diaplikasikan hanya count dan lebih fleksible jika id memiliki angka 0 di depan atau huruf di dalamnya.
Tipe data lainnya sudah sesuai.

## B. Data Kosong:

Terdapat beberapa kolom dengan nilai kosong (null/missing values):

Kolom 'category' memiliki nilai kosong sebanyak 13 entri. <br>
Kolom 'rating' memiliki nilai kosong sebanyak 95 entri.<br>
Kolom 'number_of_reviews' memiliki nilai kosong sebanyak 9 entri.<br>
Kolom 'love' memiliki nilai kosong sebanyak 34 entri.<br>
Kolom 'price' memiliki nilai kosong sebanyak 8 entri.<br>
Kolom 'value_price' memiliki nilai kosong sebanyak 17 entri.<br>

## C. Summary Aneh:

- 'Rating' minimum sebesar 0 mungkin dianggap tidak lazim, karena biasanya rating berada dalam rentang 1 hingga 5. Hal ini dapat menunjukkan potensi isu dalam data atau keberadaan produk tanpa rating.
- Standar deviasi yang tinggi (931.72) pada 'number_of_reviews' menunjukkan variasi yang besar dalam data. Jumlah maksimum ulasan sebesar 19.000 juga menimbulkan kemungkinan adanya outlier atau produk yang sangat populer yang perlu diteliti lebih lanjut.
- Nilai maksimum untuk 'love' sebesar 1.300.000 jauh lebih tinggi daripada rata-rata (17.563,96). Hal ini menunjukkan keberadaan produk dengan jumlah 'love' yang signifikan, mungkin menandakan adanya outlier atau produk yang sangat populer.

# SOAL NO. 2

In [ ]:
for i in range(0, len(nums)):
    plt.subplot(1, len(nums), i+1)
    sns.boxplot(y=df[nums[i]], color='pink', orient='v')
    plt.tight_layout()

In [ ]:
plt.figure(figsize=(12, 5))
for i in range(0, len(nums)):
    plt.subplot(2, len(nums), i+1)
    sns.distplot(df[nums[i]], color='turquoise')
    plt.tight_layout()

In [ ]:
for i in range(0, len(nums)):
    plt.subplot(1, len(nums), i+1)
    sns.violinplot(y=df[nums[i]], color='lightseagreen', orient='v')
    plt.tight_layout()

Dalam visualisasi diatas ditemukan terdapat outlier pada masing masing feature numericals, hal yang harus difollow up dalam data preprocessing nanti antara lain:
mencari penyebab terjadinya outlier,
mengimputasi nilai jika tidak disebabkan karena kesalahan input,
mentransformasi data untuk mengurangi dampak outlier,
menghapus outlier jika tidak memperdulikan dampak outlier,
menggunakan metode statistik median atau IQR yang lebih tahan terhadap outlier.

Pada displot, terdapat multimodal pada rating, dan sisanya positively skewed. Pada violin plot dapat dilihat bahwa rating kebanyakan menyebar di angka 4 dan 5. Number of review kebanyakan menyebar di bawah angka 1000, love di bawah angkat 0,1, price dan value price kebanyakan berada di bawah 50.

In [ ]:
for i in range(0, len(cats)):
    plt.subplot(2, 1, i+1)
    sns.countplot(x = df[cats[i]], color='brown', orient='h')
    plt.tight_layout()

Dalam feature categoricals brand terbanyak adalah Sephora dan parfume pada category. Terdapat banyak sekali kategory pada kolom brand dan kolom category, mungkin sebaiknya di kelompokkan lagi pada step selanjutnya agar dapat memperkecil jumlah kategori tiap kolom.

# SOAL NO. 3

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(df.corr(), cmap='Reds', annot=True, fmt='.2f')

In [ ]:
plt.figure(figsize=(15, 15))
sns.pairplot(df, diag_kind='kde', hue = 'exclusive')

In [ ]:
sns.catplot(data=df, x='love' ,y= 'number_of_reviews', hue = 'exclusive')

In [ ]:
sns.catplot(data=df, x='price' ,y= 'value_price', hue = 'exclusive')

In [ ]:
sns.catplot(data=df, x='rating' ,y= 'number_of_reviews', hue = 'exclusive')

- A. Berdasarkan korelasi antara masing-masing feature dan label. feature dan label yang paling relevan dari hasil visualisasi diatas adalah (love & number_of_reviews) yang memiliki korelasi positif dengan label yaitu 0,01 dan 0,05 dan (price & value_price) yang memiliki korelasi negatif dengan label yaitu -0,18 dan -0,17, feature-feature tersebut harus dipertahankan. Terlihat juga pada rating dan number_of_reviews dimana plot antara feature dan labelnya terpisah, ini mengindikasikan kombinasi yang baik sehingga perlu juga untuk dipertahankan. <br>
- B. adanya korelasi antar feature (love & number_of_reviews) dan (price & value_price) yang nilai korelasinya >0.70 (redundan), maka perlu di drop salah satu featurenya karena dikhawatirkan terlalu banyak feature akan menurunkan performance¬†model.

# SOAL NO. 4

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
def handle_outliers(column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[column] = df[column].apply(lambda x: lower_bound if x < lower_bound else (upper_bound if x > upper_bound else x))

# Menangani outliers untuk fitur-fitur numerik tertentu
handle_outliers('number_of_reviews')
handle_outliers('love')
handle_outliers('price')
handle_outliers('value_price')

In [ ]:
#Log Transformation
import numpy as np
df['log_price'] = np.log1p(df['price'])
df['log_value_price'] = np.log1p(df['value_price'])

In [ ]:
df_encoded = pd.get_dummies(df, columns=['category'], drop_first=True)

In [ ]:
from imblearn.over_sampling import SMOTE

X = df_encoded.drop('rating', axis=1)
y = df_encoded['rating']

# Menggunakan SMOTE untuk oversampling
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X, y)

a. Handle missing value pada dataset ini dilakukan dengan menghapus baris-baris yang memiliki nilai kosong. Hal tersebut dipertimbangkan karena persentase missing value pada keenam kolom berada dibawah 10%.<br>
b. Setelah menjalankan fungsi drop duplicated, tidak ditemukan data duplikat pada dataset ini.<br>
c. Outliers pada dataset ini diatasi dengan menganalisis IQR pada kolom yang berpotensi outliers, yaitu apabila nilainya lebih ekstrim dari 1.5 IQR dari Q1 atau Q3.<br>
d. Penggunaan log transform pada kolom price dan value price digunakan untuk mengatasi data yang tidak terdistribusi secara normal (right skewed).<br>
d. Feature encoding yang digunakan pada kolom 'category' adalah One-hot encoding yang mengubah feature categorical menjadi numeric dengan menjadikan masing-masing nilai unik feature tersendiri. Artinya, setiap kategori dalam kolom 'category' yang asli kemudian memiliki kolom biner baru yang sesuai dalam dataset awal. Digunakan One-hot encoding karena kolom ini memiliki distinct value lebih dari dua serta tidak bersifat ordinal.<br>
e. Solusi untuk mengatasi class imbalance pada kolom ‚Äòrating‚Äô adalah dengan melakukan oversampling pada kelas minoritas. Hasil oversampling dengan SMOTE menghasilkan dataset yang lebih seimbang antara kelas 'rating'.

## 5. Feature Engineering (30 poin)

A. Feature selection (membuang feature yang kurang relevan atau redundan)

Feature ‚Äònumber of reviews‚Äô dan ‚Äòlove‚Äô, serta  ‚Äòprice‚Äô dan ‚Äòvalue price‚Äô akan tidak dipakai salah satunya sebab redundan

B. Feature extraction (membuat feature baru dari feature yang sudah ada)

Tidak dilakukan feature extraction karena dirasa feature yang tersedia sudah cukup untuk pemodelan machine learning sehingga tidak perlu dilakukan extraction

C. Tuliskan minimal 4 feature tambahan (selain yang sudah tersedia di dataset) yang mungkin akan sangat membantu membuat performansi model semakin bagus (ini hanya ide saja, untuk menguji kreativitas teman-teman, tidak perlu benar-benar dicari datanya dan tidak perlu diimplementasikan)

1.   Seasonal Feature, kategori untuk musim atau range tertentu, misal review produk dalam 2 bulan tertentu, atau di dalam 4 musim, review saat winter, summer, autumn, fall
2.   Feature Agregasi Rating, mana yang low dan high secara review, daripada membandingkan 6 tingkatan review (dari 0-6)
3.   Feature Recency Bias. review saat ini apakah sama dengan review saat pertama produk release? Hal ini dapat melihat apakah produk makin berkembang baik, stagnan, atau justru memburuk secara kualitas berdasarkan review yang ada
4.   Social Media Engagement. Apakah produk ini dishare dari social media? atau diklik dari link yang dishare di social media?